doctype html
include common/_mixin
html
  include common/_head
  body
    <!--[if lt IE 7]> 
    <p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
    <![endif]-->

    .bg__container
      .wrapper__welcome
        button(type="button")#auth.auth Авторизоваться
        .container__welcome#flipper
          .welcome__fontAuth#flipperHelp
            .aboutMe
              include common/_avatar

              h1.aboutMe__fullName Кошара Александр
              p.aboutMe__text Личный сайт веб разработчика

              ul.aboutMe__social.aboutMe__social-welcome
                li.aboutMe__social-item: a(href="vk.com/alex_koshara"): include common/soc-svg/_vk.html
                li.aboutMe__social-item: a(class="aboutMe__social-a" href="https://github.com/alex-koshara"): include common/soc-svg/_git.html
                li.aboutMe__social-item: a(class="aboutMe__social-a" href="https://github.com/alex-koshara"): include common/soc-svg/_linkIn.html

              ul.aboutMe__myInfo
                li.aboutMe__myInfo-item: a(class="aboutMe__social-a" href="works.html") Мои работы
                li.aboutMe__myInfo-item: a(class="aboutMe__social-a" href="about.html") Обо мне
                li.aboutMe__myInfo-item: a(class="aboutMe__social-a" href="blog.html") Блог


          .welcome__backAuth
            .aboutMe
              h2.backAuth__header АВТОРИЗИРУЙТЕСЬ  
              form.backAuth__form
                label.backAuth__form-label
                  label.backAuth__form-icon
                    include ../images/svg/login.svg
                  input.backAuth__form-text(type="text" placeholder="Логин")
                label.backAuth__form-label
                  label.backAuth__form-icon
                    include ../images/svg/password.svg
                  input.backAuth__form-text(type="password" placeholder="Пароль")
                input.backAuth__form-checkbox(type="checkbox" id="noRobot")
                label.backAuth__form-checkLabel(for="noRobot") Я человек
                span.backAuth__form-span
                  | Вы точно не робот?
                .backAuth__wrapper-radio
                  input.backAuth__form-radio(type="radio" name="robot" id="NoRobotRadio") 
                  label.backAuth__form-radioLabel(for="NoRobotRadio") 
                    | Да
                  input.backAuth__form-radio(type="radio" name="robot" id="YesRobotRadio") 
                  label.backAuth__form-radioLabel(for="YesRobotRadio")
                      | Не уверен

              ul.aboutMe__myInfo
                li.aboutMe__myInfo-item: a#returnBack(class="aboutMe__social-a" href="#") На главную
                li.aboutMe__myInfo-item: a( href="index.html") Войти
             
 
        footer.footer
            p.footer__copyright &copy; Александр Кошара
            p.footer__text создано с любовью в LoftSchool 2016


        


