doctype html
include common/_mixin
html
  include common/_head
  body
    <!--[if lt IE 7]>
    <p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
    <![endif]-->
    
    include common/popup-menu

    .bg__container.bg-container__works
      .wrapper__traingle
        h1.main__about
          | МОИ РАБОТЫ
        include common/elements/traingle1.html
      .container__main
        nav.nav
          include common/socials
          .nav__hamburher
            a.nav__hamburher-link#mainNav(href="#")
              include common/soc-svg/hamburger.html
        
        .container__avatar
          .container__avatar-bg
            include common/stars/stars1.html
          include common/_avatar

    




    .container__slider.js-slider
      .slider__preview
        .slider__preview-img
        ul.slider__list-container
          li.slider__item(data-id='work1' data-name='Сайт школы' data-description='HTML, CSS, JS' data-link="#first" data-img='assets/img/works/work1.png')
            img.slider__image(src="assets/img/works/work1.png" alt="Мои работы")
          li.slider__item(data-id='work2' data-name='WORK2' data-description='HTML, CSS, Jquery' data-link="#second" data-img='assets/img/works/work2.png')
            img.slider__image(src="assets/img/works/work2.png" alt="Мои работы")
          li.slider__item(data-id='work3' data-name='WORK3' data-description='HTML, CSS, GULP' data-link="#third" data-img='assets/img/works/work3.png')
            img.slider__image(src="assets/img/works/work3.png" alt="Мои работы")
          li.slider__item(data-id='work4' data-name='WORK4' data-description='HTML, CSS, JSON' data-link="#fourth" data-img='assets/img/works/work4.png')
            img.slider__image(src="assets/img/works/work4.png" alt="Мои работы")


      .slider__skills
        .wrapper__skills
          h2.about__name-h2 САЙТ ШКОЛЫ ОНЛАЙН ОБРАЗОВАНИЯ 
          .slider__skills-text
            | HTML, CSS, JAVASCRIPT
          a.slider__link-show(href="#")
            | Посмотреть сайт


      .slider__controls
        .slider__control.slider__control-left.js-slider__prev
          .slider__control-wrapper
            .slider__control-previw.slider__control-preview-next.js-slider__control-image_next(style="top: -100%; background-image: url('assets/img/works/work4.png');")
            .slider__control-previw.slider__control-preview-current.js-slider__control-image_current(style="top: 0; background-image: url('assets/img/works/work4.png');")
          a.control__down(href="#") up
        .slider__control.slider__control-right.js-slider__next  
          .slider__control-wrapper
            .slider__control-previw.slider__control-preview-next.js-slider__control-image_next(style="top: 100%; background-image: url('assets/img/works/work2.png');")
            .slider__control-previw.slider__control-preview-current.js-slider__control-image_current(style="top: 0; background-image: url('assets/img/works/work2.png');")
          a.control__up(href="#") down
          








    .container__comments
      .comments__header
          h2.comments__header-h2
            | что обо мне говорят
        .comments__main
          .comments__block
            .wrapper__block-img
              img.comments__block-img(src="assets/img/avatar/Kov-Dm.jpg" alt="Kovalchuk")
            .comments__block-text
              img.comments__block-quote(src="assets/img/bg/quotes.svg")
              Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессоных ночей!
            .comments__block-footer
              .footer__avtor-fullName
                | Ковальчук Дмитрий
              .footer__avtor-about
                | - основатель Loftschool

         
          .comments__block
            .wrapper__block-img
              img.comments__block-img(src="assets/img/avatar/zar.jpg" alt="Zar")
            .comments__block-text
              img.comments__block-quote(src="assets/img/bg/quotes.svg")
              Этот код выдержит любые испытания.<br> Только пожалуйста, не загружайте сайт на слишком старых браузерах!
            .comments__block-footer
              .footer__avtor-fullName
                | Зар Захаров
              .footer__avtor-about
                | - главный преподаватель


      .container__feedback
        h2.about__info-h2.feedback__info-text СВЯЗАТЬСЯ СО МНОЙ
        form.feedback__form
          label.form__label
            input.form__input(type="text" name="name" placeholder="Имя")
          label.form__label
            input.form__input(type="text" name="mail" placeholder="Email")
          label.form__label
            textarea.form__textarea(name="message" placeholder="Ваше сообщение")
          .wrapper__button
            button.button__inner.button__inner-ok отправить
            button.button__inner.button__inner-cancel отмена


      footer.footer__container.footer__work
        include common/footer



