doctype html
include common/_mixin
html
  include common/_head
  body
    <!--[if lt IE 7]>
    <p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
    <![endif]-->
    

    .bg__container.bg-container__works
      .wrapper__traingle
        include common/elements/traingle1.html
      .container__main
        nav.nav
          include common/socials
          .nav__hamburher
            a.nav__hamburher-link
              include common/soc-svg/hamburger.html
        
        .container__avatar
          .container__avatar-bg
            include common/stars/stars1.html
          include common/_avatar

    
    .container__slider
      .slider__preview
        .preview__wrapper
          img.slider__img(src="/assets/img/works/demoWorks.png")
      .slider__skills
        h2.about__info-h2 САЙТ ШКОЛЫ ОНЛАЙН ОБРАЗОВАНИЯ 
        .slider__skills-text
          | HTML, CSS, JAVASCRIPT
        a.slider__link-show(href="#")
          | Посмотреть сайт
      .slider__nav
        .slider__nav-prev
          .preview__wrapper-nav
            img.prev__slider-img(src="/assets/img/works/demo1.jpg")
        .slider__nav-next
          .preview__wrapper-nav
            img.next__slider-img(src="/assets/img/works/demo2.jpg")

    .container__comments
      .comments__wrapper
        .comments__header
          h2.comments__header-h2
            | что обо мне говорят
        .comments__main
          .comments__block
            .wrapper__block-img
              img.comments__block-img(src="/assets/img/avatar/Kov-Dm.jpg" alt="Kovalchuk")
            .comments__block-text.
              Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессоных ночей!
            .comments__block-footer
              .footer__avtor-fullName
                | Ковальчук Дмитрий
              .footer__avtor-about
                | - основатель Loftschool

          .comments__block
            .wrapper__block-img
              img.comments__block-img(src="/assets/img/avatar/zar.jpg" alt="Zar")
            .comments__block-text.
              Этот код выдержит любые испытания.<br> Только пожалуйста, не загружайте сайт на слишком старых браузерах!
            .comments__block-footer
              .footer__avtor-fullName
                | Зар Захаров
              .footer__avtor-about
                | - главный преподаватель


      .container__feedback
        h2.about__info-h2 СВЯЗАТЬСЯ СО МНОЙ
        form.feedback__form
          input.form__input(type="text", value="Имя")
          input.form__input(type="text", value="Email")
          textarea.form__textarea Ваше сообщение
          .wrapper__button
            button.button__inner.button__inner-ok отправить
            button.button__inner.button__inner-cancel отмена


    footer.footer__container
      include common/footer



