*,
*:before,
*:after,
*:hover {
  box-sizing: border-box;
}

header,
body {
	margin: 0;
	padding: 0;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

@import 'common/welcome';

@import 'common/blog';

@import 'common/about';

@import 'common/works';

