.container__flex
  p.container__text
    | Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool
  .container__links
    .wrapper__adaptive
      ul.aboutMe__list
        li.aboutMe__item: a(class="aboutMe__link" href="works.html") Мои работы
                
        li.aboutMe__item: a(class="aboutMe__link" href="about.html") Обо мне
                
        li.aboutMe__item: a(class="aboutMe__link" href="blog.html") Блог
                
        li.aboutMe__item: a(class="aboutMe__link" href="index.html") Авторизация
            

      ul.aboutMe__social.aboutMe__social-blog
        li.aboutMe__social-item
          a(class="aboutMe__social-a social__blog" href="vk.com/alex_koshara")
            include soc-svg/_vk.html
                
        li.aboutMe__social-item
          a(class="aboutMe__social-a social__blog" href="https://github.com/alex-koshara")
            include soc-svg/_git.html
                
        li.aboutMe__social-item
          a(class="aboutMe__social-a social__blog" href="https://github.com/alex-koshara")
            include soc-svg/_linkIn.html 


    ul.contact__list
      li.contact__item
        a.contact__link(href="skype:alex.koshara1990?call") skype: alex.koshara1990

      li.contact__item
        a.contact__link(href="mailto:alex-koshara@mail.ru") alex-koshara@mail.ru
           
      li.contact__item
        a.contact__link(href="tel:+79787759827") +7 (978) 775 98 27
           
      li.contact__item
        .contact__link Республика Крым, Симферополь.

.footer__copyright-blog
  p.footer__copyright &copy; Александр Кошара
  p.footer__text создано с любовью в LoftSchool 2016