.container__flex
  p.container__text
    | Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool
  .container__links
    ul.abouthMe__list
      li.abouthMe__item: a( target="_blank" class="abouthMe__link" href="#") Мои работы
              
      li.abouthMe__item: a( target="_blank" class="abouthMe__link" href="#") Обо мне
              
      li.abouthMe__item: a( target="_blank" class="abouthMe__link" href="#") Блог
              
      li.abouthMe__item: a( target="_blank" class="abouthMe__link" href="#") Авторизация
          

    ul.abouthMe__social.abouthMe__social-blog
      li.abouthMe__social-item
        a(class="abouthMe__social-a social__blog" href="vk.com/alex_koshara")
          include soc-svg/_vk.html
              
      li.abouthMe__social-item
        a(class="abouthMe__social-a social__blog" href="https://github.com/alex-koshara")
          include soc-svg/_git.html
              
      li.abouthMe__social-item
        a(class="abouthMe__social-a social__blog" href="https://github.com/alex-koshara")
          include soc-svg/_linkIn.html 


    ul.contact__list
      li.contact__item
        a.contact__link(href="skype:alex.koshara1990?call") skype: alex.koshara1990

      li.contact__item
        a.contact__link(href="mailto:alex-koshara@mail.ru") alex-koshara@mail.ru
           
      li.contact__item
        a.contact__link(href="tel:+79787759827") +7 (978) 775 98 27
           
      li.contact__item
        .contact__link Россия, Республика Крым, Симферополь.

.footer__copyright-blog
  p.footer__copyright &copy; Александр Кошара
  p.footer__text создано с любовью в LoftSchool 2016