.popup.not-visible#popup__nav
  a.popup__close#popup__close(href="#") 
  nav.popup__nav
    ul.aboutMe__list
      li.aboutMe__item: a(class="aboutMe__link" href="works.html") Мои работы
      li.aboutMe__item: a(class="aboutMe__link aboutMe__link-active" href="about.html") Обо мне
      li.aboutMe__item: a(class="aboutMe__link" href="blog.html") Блог
      li.aboutMe__item: a(class="aboutMe__link" href="index.html") Авторизация
  .popup__left-bg
  .popup__right-bg