li.skill__item
  span.skill__name Frontend
  ul.skill__list
    +my_skill("HTML5", "html5")
    +my_skill("CSS3", "css3")
    +my_skill("JavaScript &Jquery", "js")
            
li.skill__item
  span.skill__name Backend
  ul.skill__list
    +my_skill("PHP", "php")
    +my_skill("mySQL", "my-sql")
    +my_skill("Node.js & npm", "node-js")
    +my_skill("Mongo.db", "mongo-db")
        
li.skill__item
  span.skill__name WorkFlow
  ul.skill__list
    +my_skill("Git", "git")
    +my_skill("Gulp", "gulp")
    +my_skill("Bower", "bower")