ul.aboutMe__social
	li.aboutMe__social-item: a(class="aboutMe__social-a aboutMe__social-svg" href="vk.com/alex_koshara"): include soc-svg/_vk.html
	li.aboutMe__social-item: a(class="aboutMe__social-a aboutMe__social-svg" href="https://github.com/alex-koshara"): include soc-svg/_git.html
	li.aboutMe__social-item: a(class="aboutMe__social-a aboutMe__social-svg" href="https://github.com/alex-koshara"): include soc-svg/_linkIn.html