@import 'common/prop';

.bg-container__about {
	.box {
		.traingle {
			fill: #f2f0e8;

			@include desctop {
				.polygon-right {
					fill: #f4f5f0;
				}
			}
		}
	}
}

@keyframes slideInLeft {
	from {
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
		visibility: visible;
		opacity: 0;
	}
	30% {
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
		visibility: visible;
		opacity: 0;
	}

	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

@keyframes slideInRight {
	from {
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
		visibility: visible;
		opacity: 0;
	}

	30% {
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
		visibility: visible;
		opacity: 0;
	}

	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

@keyframes fadeInLeft {
	from {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes fadeInRight {
	from {
		opacity: 0;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}


.popup {
	display: block;
	min-width: 100%;
	min-height: 100%;
	position: absolute;
	z-index: 1000;

	.popup__close {
		display: block;
		position: absolute;
		z-index: 1002;
		top: 23px;
		right: 23px;
		width: 20px;
		height: 20px;
		cursor: pointer;

		&:after {
			content: "";
			position: absolute;
			top:50%;
			left: 50%;
			border-top: 4px solid white;
			width: 35px;
			transform: translate(-50%,-50%) rotate(45deg);
			z-index: 1004;

			&:hover {
				border-top: 4px solid $hover__link;
			}
		}

		&:before {
			content: "";
			position: absolute;
			top:50%;
			left: 50%;
			border-top: 4px solid white;
			width: 35px;
			transform: translate(-50%,-50%) rotate(-45deg);
			z-index: 1004;
		}
	}

	.popup__left-bg {
		animation: fadeInLeft .5s linear;
		position: absolute;
		background: rgba(#183669, .87);
		width: 50%;
		top: 0;
		left: 0;
		height: 100%;
		z-index: 1001;
	}

	.popup__right-bg {
		animation: fadeInRight .5s linear;
		position: absolute;
		background: rgba(#183669, .87);
		top: 0;
		left: 50%;
		height: 100%;
		width: 50%;
		z-index: 1001;
	}

	.popup__nav {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 1002;
	}
}

.not-visible {
	display: none;
}

.popup__nav {
	.aboutMe__list {
		flex-direction: column;
	}

	.aboutMe__item {
		animation: slideInLeft .7s linear;
		margin-bottom: 10px;


	}

	.aboutMe__item:nth-child(2n) {
		animation: slideInRight .7s linear;
	}

	.aboutMe__link {
		display: block;
		font-size: 63px;
		text-align: center;
		padding: 10px;
		position: relative;

		&:hover.aboutMe__link:after {
			content: "";
			position: absolute;
			display: block;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			z-index: 1003;
			width: 75px;
			height: 5px;
			background: $white;
			transition: all .5s linear;
		}
	}

	.aboutMe__link-active {
		position: relative;

		&:after {
			content: "";
			position: absolute;
			display: block;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			z-index: 1003;
			width: 75px;
			height: 5px;
			background: $white;
		}
	}
}













.bg-container__about:after {
	content: "";
	position: absolute;
	left: 50%;
	bottom: 80px;
	border-left: 8px solid white;
	border-bottom: 8px solid white;
	display: block;
	width: 25px;
	height: 25px;
	z-index: 10;
	transform: translate(-50%) rotate(-45deg);
}

.container__about {
	background: #f2f0e8;
	min-height: 650px;
}

.wrapper__about-adaptive {

	@include desctop {
		display: flex;
	}
}

.container__about .main__about  {
	margin: 0;
	margin-bottom: 35px;
	position: relative;

	@include desctop {
		width: 50%;
		margin: 0 auto 20px auto;
	}

	@include hd {
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
		justify-content: flex-end;
	}
}

.main__about-h1 {
	color: #373e42;
	font: 24px/42px, "Roboto-Regular", "Arial", sans-serif;
	font-size: 35px;
	margin-top: 20px;
	position: relative;
	z-index: 220;

	@include hd {
		font-size: 63px;
		margin: 0 auto;
		margin-top: 6px;
	}
}

.main__about-stars {
	display: none;

	@include hd {
		position: absolute;
		display: block;
		fill: #dbe0e6;
		top: -5%;
		left: 20%;
		z-index: 1;
		transform: translate(-50%, -25%) rotate(180deg);

		.stars2 {
			fill: #dbe0e6;
			stroke: #dbe0e6;
			color: #dbe0e6;
			width: 250px;
			height: 250px;
		}
	}



}

.container__avatar {
	@include tablet {
		width: 60%;
		margin: 0 auto;
	}

	@include hd {
		width: 50%;
	}
}

img {
	max-width: 100%;
	height: auto;
}

svg .traingle .polygon-left {
	background: red !important;
	fill: red !important;
}

.wrapper__info-about {
	position: relative;
	min-height: 400px;
	.about__info {

		@include tablet {
			position: absolute;
			top: 20%;
			left: 50%;
			transform: translateX(-50%);
			width: 350px;
			background: rgba(#fff, .7);
			z-index: 32;
		}

		
	}
}

.about__info-me {
	@include hd {
		width: 50%;
	}
}

.about__info-h2 {
	font-family: "Roboto-Regular", "Arial", sans-serif;
	font-size: 21px;
	line-height: 28px;
	display: block;
	text-align: center;
	color: #474b57;
	padding-bottom: 25px;
	text-align: center;
	position: relative;
	text-transform: uppercase;

	@include tablet {
		width: 70%;
		margin: 15px auto;
	}

	&:after {
		content: "";
		display: block;
		width: 55px;
		height: 5px;
		position: absolute;
		left: 50%;
		bottom: 0;
		transform: translate(-50%);
		background: #474b57;
	}
}

.info__skill .about__info-h2 {
	

	@include desctop {
		width: 200px;
		margin: 0 auto 15px auto;
	}

}

.about__info-text {
	font-family: "Roboto-Regular", "Arial", sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #474b57;
	margin-bottom: 55px;

	@include tablet {
		width: 60%;
		margin: 0 auto;
	}

	@include desctop {
		width: 90%;
		text-align: left;
	}

}

.info__skill {
	background: #f4f5f0;
	padding-bottom: 15px;


	@include desctop {
		width: 50%;
	}
}

.g-circles {
	fill: none;
	stroke-width: 20;
}

.sector {
	stroke: #165ad1;
	stroke-dasharray: 50 722;
	transition: all 1s;
}

.skill__container {
	style-list: none;
	@include tablet {
		width: 65%;
		margin: 0 auto;
	}

	@include desctop {
		width: 90%;
		margin: 0 auto;
	}
}

.skill__item {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	&:last-child {
		margin-bottom: 0;
	}
}

.skill__item-inner {
	position: relative;
	margin-right: 10px;
}

.skill__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;

	@include desctop {
		justify-content: flex-start;
	}
}

.skill__name {
	font-family: "Roboto-Regular", "Arial", sans-serif;
	font-size: 21px;
	line-height: 28px;
	display: block;
	text-align: center;
	color: #474b57;
	margin: 15px 0 15px;

	@include desctop {
		text-align: left;
	}
}

.skill__item {
	position: relative;
}

.skill__value {
	position: absolute;
	display: block;
	width: 80px;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #243994;
}

.html5 {
	stroke-dasharray: 250 722;
}

.css3 {
	stroke-dasharray: 180 722;
}

.js {
	stroke-dasharray: 78 722;
}

.php {
	stroke-dasharray: 5 722;
}

.my-sql {
	stroke-dasharray: 15 722;
}

.node-js {
	stroke-dasharray: 10 722;
}

.mongo-db {
	stroke-dasharray: 0 722;
}

.git {
	stroke-dasharray: 156 722;
}

.gulp {
	stroke-dasharray: 128 722;
}

.bower {
	stroke-dasharray: 100 722;
}

.null__stroke {
	stroke-dasharray: 0 722;
}

.contact__list-about {
	list-style: none;
	.contact__item {
		color: #6b6e78;

		@include tablet {
			margin-bottom: 5px;
		}
		
		.contact__link {
			font-size: 16px;
			color: #6b6e78;
			display: inline-block;
			vertical-align: middle;

		}
	}
}

.contact__item-icon {
	display: inline-block;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background: #004cd1;
	position: relative;
	vertical-align: middle;
	margin: 0 10px 10px 10px;
	
	svg {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		display: inline-block;
	}
}

.background__map {
	min-height: 516px;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	position: relative;
	
	@include tablet {
		height: 907px;
		justify-content: flex-end;

	}
}

.google-maps {
	width: 100%;
	min-height: 650px;
	
	@include laptop {
		height: 100vh
	}
}

.footer__about {
	opacity: .8;
	margin-bottom: -70%;
	width: 100%;
	position: absolute;
	bottom: 0px;
	left: 0;


	@include tablet {
		margin-bottom: 0;
		margin-top: auto;
		positon: static;
	}
	.aboutMe__list {
		font: 14px/24px "Roboto-Medium", "Arial", sans-serif;
	}

	.contact__list {
		font: 14px/24px "Roboto-Light", "Arial", sans-serif;
	}


}