@import 'common/prop';

.box {
  width: 100%;
  position: absolute;
  bottom: -6px;
  left: 0;
}

.traingle {
  fill: $white;
}

.bg-container {
	padding: 10px;
	position: relative;
	margin-bottom: 35px;
}

.container__main {
	min-height: 250px;
	display: flex;
	margin: auto;
	position: relative;
	flex-direction: column;
	justify-content: center;
}

.nav {
	display: flex;
	justify-content: space-between;
	/*margin-bottom: 64px; */
}

.aboutMe__social-svg .social-icon {
	fill: $white;
	opacity: 1;
	&:hover {
		fill: blue;
	}
}

.nav__hamburher-link .hamburger {
	fill: $white;
	width: 26px;
	height: 28px;
	cursor: pointer;
	
	&:hover {
	  fill: blue;
	}
}

.container__avatar {
	position: relative;
}

.container__avatar .aboutMe__avatar {
	position: relative;
	z-index: 4;
}

.container__avatar-bg {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200px;
	transform: translate(-70%,-50%);
	opacity: .5;
	z-index: 1;
}

.aboutMe__avatar-img {
	z-index: 2;
}

.main__about {
    font-family: Roboto-Regular, "Arial", sans-serif;
    font-size: 35px;
    line-height: 42px;
	text-align: center;
	color: $white;
	margin-bottom: 20px;
}

.main__description {
	text-align: center;
	color: $white;
	margin: 0;
}


















.clearfix {
	&:after, &:before {
		content: "";
		display: block;
	}

	&:after {
		clear: both;
	}
}

.blog {
	padding: 20px;	
}

.blog__fixed {
	position: fixed;
	top: 20px;
	left: 0;
	right: 0;
}

.blog__container {
	width: 90%;
	margin: 0 auto;
}

.blog__left-col {
	width: 30%;
	float: left;
	height: 1px;
}

.blog__right-col {
	width: 70%;
	float: left;
}

.menu__wrapper {
	position: relative;
	height: 1px;
}

.menu-list {
	list-style: none;
	padding: 0;
	margin: 0;
	padding-right: 10px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.menu__item {
	list-style: none;
	margin-right: 50px;
	color: $menu__link;
}

.menu__item.active {
	border-right: 2px solid #1abc9c;
	color: $meni__link-active;
}

.menu__link {
	display: block;
	text-align: right;
	color: inherit;
	width: 85%;
	padding: 10px;
	margin: auto;
	margin-bottom: 10px;
	font: 16px/24px;
	text-decoration: none;
	text-transform: uppercase;
}
















.blog__content-article {
	padding-bottom: 25px;
	border-bottom: 4px solid #f1f1f2;
	margin-bottom: 30px;
	&:last-child {
		border-bottom: none;
	}

	.post__caption {
		color: #474b57;
		margin-top: 0;
	}

	.post__data {
		color: #5b7db7;
		margin-bottom: 15px;
	}

	.post__text {
		width: 80%;
		margin-right: auto;
		word-wrap: break-word;
		color: black;
	}
}

.container__flex {
	display: flex;
	flex-direction: column;
	background: rgba(#3e4049, .95);
	padding: 10px;
	justify-content: flex-start;

	@include tablet {
	  padding: 20px;
	  background: rgba(#3e4049, .8);
	}

	@include desctop {
	flex-direction: row;
	justify-content: spase-between;
	}
}

.container__text {
    font: 14px/24px "Roboto-Light", "Arial", sans-serif;
	text-align: center;
	color: $white;
	opacity: .6;

	@include desctop {
		width: 33%;
		text-align: left;
		padding-right: 20px;
		margin: 0;
	}
}

.container__links {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      
    }

    @include desctop {
      width: 66%;
    }


	.aboutMe__list {
		margin-bottom: 15px;
		flex-wrap: wrap;

		@include tablet {
		  flex-basis: 40%;
		  margin-bottom: 25px;
		}

		@include desctop {
		  display: flex;
		  justify-content: space-around;
		  flex-basis: auto;
		}
		
	}
	
	.aboutMe__social {
		margin-bottom: 0;

		@include tablet {
		  order: 2;

		}
	}
	
	.contact__list {
		display: flex;
		flex-direction: column;
		width: 100%;
		list-style: none;

		@include tablet {
		  width: 40%;
		  
		  
		}

		.contact__item {
			text-align: center;

			@include tablet {
			    text-align: right;
			}
		}
	}
}

.contact__link {
	text-decoration: none;
	color: $white;
	opacity: .5;
	display: block;
	padding: 5px 0;
}

.aboutMe__list {
	display: flex;
	list-style: none;

	.aboutMe__item {
		flex: 1 0 auto;

		@include desctop {
			flex: 0 1 auto;
		}
		.aboutMe__link {
			text-decoration: none;
			color: $white;
		}
	}
}

.aboutMe__social-blog {
    width: 100%;
	justify-content: center;

	@include laptop {
		justify-content: flex-start;
	}
	
	.aboutMe__social-item {
		margin-right: 25px;
	}
    
    .social-icon {
		&:hover {
			fill: blue;
		}
    
    }

}

.wrapper__adaptive {
	width: 100%;

	@include tablet {
	  width: 60%;
	}

	@include desctop {
	  width: 100%;
	  display: flex;
	  flex-direction: column;
	  border-right: 1px solid rgba(#fff, .5);
	  border-left: 1px solid rgba(#fff, .5);
	  justify-content: space-between;
	}
}

.social__blog .social-icon {
	fill: $white;
}

.container__text,
.aboutMe__social-blog {
	border-bottom: 1px solid rgba(#fff, .5);
	padding-bottom: 15px;
	margin-bottom: 15px;

}

.container__text {
	@include desctop {
	  border-bottom: none;
	}
}

.aboutMe__social-blog {
	@include tablet {
		border-bottom: none;
	}

	@include desctop {
		width: 85%;
		margin: 0 auto;
	}
}

.footer__copyright-blog {
	background: rgba(#2667d8, .8);

	@include tablet {
		text-align: center;
	}
	
	.footer__copyright {
		margin: 0;
		color: $white;

		@include tablet {
			display: inline-block;
		}
	}

	.footer__text {
		color: $white;

		@include tablet {
			display: inline-block;
		}
	}
}

