@import 'common/prop';
@import 'common/mixin';

ul {
  margin: 0;
  padding: 0;
}



.bg__container {
  width: 100%;
  min-height: 100vh;
  background: url("../img/bg/bg-1800.jpg") no-repeat 50% 60%;
  background-size: cover;
  padding: 20px;
  position: relative;
}

.container__welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  position: relative;
  padding: 10px;
  width: 320px;
  transition: .8s;
  margin: 0 auto;
  transform-style: preserve-3d;

  @include laptop {
    margin-bottom: 300px;
  }

  @include desctop {
    margin-bottom: 100px;
  }

  @include hd {
    margin-bottom: 100px;
  }
}

.welcome__fontAuth,
.welcome__backAuth {
  min-height: 368px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px 0;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}

.welcome__fontAuth {
  @include laptop {
    // width: 748px;
  }

  @include desctop {
    // width: 1180px;
  }

  @include hd {
  }
}

.welcome__backAuth {
  font-family: "Roboto-Regular", "Arial", sans-serif;
}

.auth {
  cursor: pointer;
  display: block;
  outline: none;
  color: $white;
  outline: 1px solid $white;
  border: none;
  align-self: center;
  padding: 15px 20px;
  background:none;
  margin: 0 auto;
  margin-bottom: 30px;
  transition: margin-bottom, opacity .8s;
  
  @include laptop {
    margin-left: auto;
    margin-right: 30px;
    margin-bottom: 200px;
  }

  @include desctop {
    margin-bottom: 75px;
  }

  @include hd {
    margin-bottom: 175px;
  }



  &:hover {
    background: #083c96;
    outline: 1px solid #083c96;
    border: none;
   
  }
}

.visible {
  opacity: 0;
  cursor: default;
}

.aboutMe {
  background: $welcome-bg;
  width: 300px;

  @include laptop {
    width: 345px;
  }

  @include desctop {
    width: 380px;
  }


}

.aboutMe__avatar {
  padding-top: 40px;
  margin-bottom: 23px;
}

.aboutMe__avatar-img {
  display: block;
  height: 142px;
  width: 142px;
  margin: auto;
  border-radius: 71px; /* Радиус скругления */
  box-shadow: 0 0 7px #666; /* Параметры тени */
}

.aboutMe__fullName {
  color: $white;
  font-size: 21px;
  line-height: 28px;
  text-align: center;
  z-index: 33;
  margin: 0;
}

.aboutMe__text {
  font-size: 14px;
  line-height: 24px;
  color: white;
  text-align: center;
}

.social-icon {
  fill: blue;
  size: 40px;
  opacity: .7;
  &:hover {
    opacity: 1;
  }
}
 
.aboutMe__social {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  list-style: none;
  width: 140px;
  margin-bottom: 40px;
}

.aboutMe__social-welcome {
  margin: 0 auto;
  margin-bottom: 35px;
}

.aboutMe__myInfo {
  font-family: "Roboto-Medium", "Arial", sans-serif;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.aboutMe__myInfo-item {
  flex: 1 0 auto;

}

.aboutMe__social-item a,
.aboutMe__myInfo-item a {
  text-decoration: none;
}

.aboutMe__myInfo-item a {
  display: block;
  padding: 15px 10px;
  font-size: 14px;
  color: $white;
  border-right: 2px solid rgba( 255, 255, 255, .5);
  text-align: center;
  background: $welcome-footer-bg;
  &:hover {
    background: #004cd1;
  }

}

.aboutMe__myInfo-item:last-child a {
    border: none;
  }


.welcome__backAuth {
  transform: rotateY(180deg);
  color: black;
  z-index: 3;
}

.backAuth__header {
  font-family: "Roboto-Regular", "Arial", sans-serif;
  text-align: center;
  color: $white;
}

.backAuth__form {
  padding: 20px;
}

.backAuth__form-label {
  display: block;
  position: relative;
  margin-bottom: 20px;
  &::after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 99%;
    width: 45px;
    background: #f0efe9;
    z-index: 4;
  }
}

.backAuth__form-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  background: #f0efe9;
  z-index: 5;
}

.backAuth__form-text {
  padding: 15px 30px 15px 60px;
  width: 100%;
  border: none;
  outline: none;
}

.backAuth__form-checkLabel {
  display: block;
  position: relative;
  text-align: center;
  padding-left: 50px;
  margin-bottom: 20px;
  cursor: pointer;
  color: $white;
}

.backAuth__form-checkLabel::after {
  content: "";
  box-sizing: border-box;
  text-align: center;
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  position: absolute;
  left: 85px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.backAuth__form-checkbox {
  display: none;
}

.backAuth__form-checkbox:checked + .backAuth__form-checkLabel::after {
  background: #0548be;
  border: #0548be;
}

.backAuth__form-checkbox:checked + .backAuth__form-checkLabel::before {
  content: "";
  position: absolute;
  z-index: 10;
  width: 9px;
  height: 5px;
  border-bottom: 3px solid white;
  border-left: 3px solid white;
  left: 91px;
  top: 50%;
  -webkit-transform: translateY(-70%) rotate(-45deg);
  transform: translateY(-70%) rotate(-45deg);
}

.backAuth__form-span {
  font-family: "Roboto-Bold", "Arial", sans-serif;
  color: $white;
  display: block;
  text-align: center;
  margin-bottom: 10px;
}

.backAuth__wrapper-radio {
  text-align: center;
  padding-left: 25px;
}

.backAuth__form-radioLabel {
  color: $white;
  cursor: pointer;
  margin-bottom: 25px;
  display: inline-block;
  margin-right: 35px;
}

.rotate {
  transform: rotateY(180deg);
}





.footer {
  color: $lightGrey;
  &__copyright {
    font-family: "Roboto-Light", "Arial", sans-serif;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    text-decoration: underline;
  }
  &__text {
    font-family: "Roboto-Light", "Arial", sans-serif;
    margin: 0;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    text-decoration: underline;
  }
}