@import 'common/prop';

ul {
  margin: 0;
  padding: 0;
}

.bg__container {
  width: 100%;
  min-height: 100vh;
  background: url("/assets/img/bg/bg-1800.jpg") no-repeat 50% 60%;
  background-size: cover;
  padding: 20px;
  position: relative;
}

.container__welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 508px;
  position: relative;
  padding: 10px;
  width: 320px;
  margin: 0 auto;
  transition: .8s;
  transform-style: preserve-3d;
}

.welcome__fontAuth,
.welcome__backAuth {
  width: 300px;
  min-height: 568px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px 0;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}

.auth {
  cursor: pointer;
  display: block;
  outline: none;
  color: $white;
  outline: 1px solid $white;
  border: none;
  align-self: center;
  padding: 15px 20px;
  background:none;
  margin-bottom: 30px;

  &:hover {
    background: #083c96;
    outline: 1px solid #083c96;
    border: none;
   
  }
}

.abouthMe {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: $welcome-bg;
  width: 300px;
}

.abouthMe__avatar {
  padding-top: 40px;
  margin-bottom: 23px;
}

.abouthMe__avatar-img {
  display: block;
  height: 142px;
  width: 142px;
  margin: auto;
  border-radius: 71px; /* Радиус скругления */
  box-shadow: 0 0 7px #666; /* Параметры тени */
}

.abouthMe__fullName {
  color: $white;
  font-size: 21px;
  line-height: 28px;
  text-align: center;
  z-index: 33;
  margin: 0;
}

.abouthMe__text {
  font-size: 14px;
  line-height: 24px;
  color: white;
  text-align: center;
}

.social-icon {
  fill: blue;
  size: 40px;
  opacity: .7;
  &:hover {
    opacity: 1;
  }
}
 
.abouthMe__social {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  list-style: none;
  width: 140px;
  margin-bottom: 40px;
}

.abouthMe__social-welcome {
  margin: 0 auto;
  margin-bottom: 35px;
}

.abouthMe__myInfo {
  display: flex;
  list-style: none;
}

.abouthMe__myInfo-item {
  flex: 1 0 auto;
}

.abouthMe__social-item a,
.abouthMe__myInfo-item a {
  text-decoration: none;
}

.abouthMe__myInfo-item a {
  display: block;
  padding: 15px 0;
  font-size: 14px;
  color: $white;
  border-right: 2px solid rgba( 255, 255, 255, .5);
  text-align: center;
  background: $welcome-footer-bg;
  &:hover {
    background: #004cd1;
  }

}

.abouthMe__myInfo-item:last-child a {
    border: none;
  }


.welcome__backAuth {
  padding-top: 87px;
  transform: rotateY(180deg);
  color: black;
  z-index: 3;
}

.backAuth__header {
  text-align: center;
  color: $white;
}

.backAuth__form {
  padding: 20px;
}

.backAuth__form-label {
  display: block;
  position: relative;
  margin-bottom: 20px;
  &::after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 99%;
    width: 45px;
    background: #f0efe9;
    z-index: 4;
  }
}

.backAuth__form-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  background: #f0efe9;
  z-index: 5;
}

.backAuth__form-text {
  padding: 15px 30px 15px 60px;
  width: 100%;
  border: none;
  outline: none;
}

.backAuth__form-checkLabel {
  display: block;
  position: relative;
  text-align: center;
  padding-left: 50px;
  margin-bottom: 20px;
  cursor: pointer;
  color: $white;
}

.backAuth__form-checkLabel::after {
  content: "";
  box-sizing: border-box;
  text-align: center;
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  position: absolute;
  left: 85px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.backAuth__form-checkbox {
  display: none;
}

.backAuth__form-checkbox:checked + .backAuth__form-checkLabel::after {
  background: #0548be;
  border: #0548be;
}

.backAuth__form-checkbox:checked + .backAuth__form-checkLabel::before {
  content: "";
  position: absolute;
  z-index: 10;
  width: 9px;
  height: 5px;
  border-bottom: 3px solid white;
  border-left: 3px solid white;
  left: 91px;
  top: 50%;
  -webkit-transform: translateY(-70%) rotate(-45deg);
  transform: translateY(-70%) rotate(-45deg);
}

.backAuth__form-span {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}

.backAuth__wrapper-radio {
  text-align: center;
  padding-left: 25px;
}

.backAuth__form-radioLabel {
  cursor: pointer;
  margin-bottom: 25px;
  display: inline-block;
  margin-right: 35px;
}

.rotate {
  transform: rotateY(180deg);
}





.footer {
  color: $lightGrey;
  &__copyright {
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    text-decoration: underline;
  }
  &__text {
    margin: 0;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    text-decoration: underline;
  }
}