 @import 'common/prop';


.wrapper__traingle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 85px;
  background: rgba(#000, .85);

  .box {
    bottom: 81px;
    .traingle {
      fill: rgba(#000, .85);
      }
  }
}

.bg-container__works:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 150px;
  border-left: 8px solid white;
  border-bottom: 8px solid white;
  display: block;
  width: 25px;
  height: 25px;
  z-index: 10;
  transform: translate(-50%) rotate(-45deg);
}













.container__slider {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  min-height: 650px;

    @include laptop {
      height: 100vh
    }
}

.slider__preview {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  flex: 1 0 auto;
  background: #e3e2de;

  @include laptop {
    width: 50%;
    flex: 0 0 auto;
    height: 70%;
    order: 1;
  }
}

.slider__preview-img {
  display: block;
}

.slider__skills {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;

  @include laptop {
    width: 50%;
    flex: 0 0 100%;
    order: 0;
  }
}

.wrapper__skills {

  .slider__skills-text {
    text-align: center;
    color: #243994;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  .slider__link-show {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 185px;
    height: 40px;
    color: white;
    background: #004cd1;
    text-decoration: none;
  }

}

.slider__control {
  display: flex;
  flex: 1 0 auto;

  @include laptop {
    width: 50%;
    flex: 0 0 auto;
    height: 30%;
    order: 1;
  }
}

.slider__control-prev,
.slider__control-next {
  width: 50%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
  background: linear-gradient(to right, rgba(219,219,219,1) 0%,rgba(250,250,250,1) 46%,rgba(219,219,219,1) 100%);

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(#b6b7bf, .5);
    z-index: 31;
    top: 0;
    left: 0;
  }


  .show__slider-img {
    display: block;
    max-width: 80%;
  }
}

.control__up,
.control__down {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 32;
  font-size: 0;

  &:after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    
    border-left: 5px solid $white;
    z-index: 33;
  }
}

.control__up {

  &:after {
    transform: rotate(45deg);
    border-top: 5px solid $white;  
  }

  &:hover {
    top: 46%;
    transition: top .4s;
  }
  
}

.control__down {

  &:after {
    transform: rotate(-45deg);
    border-bottom: 5px solid $white;
  }

  &:hover {
    top: 54%;
    transition: top .4s;
  }
}












.container__comments {
  background: url("../img/bg/saturate-iphone.jpg") 40% 30%;
  background-size: cover;
}

.comments__header-h2 {
  text-transform: uppercase;
  color: white;
  text-align: center;
  width: 300px;
  font: 35px/42px "Roboto-Medium", "Arial", sans-serif;
  margin: 30px auto;
}

.comments__block-text {
  color: white;
  font: 14px/24px "Roboto-Italic", "Arial", sans-serif;
  padding: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  position: relative;
  
  .comments__block-quote {
    position: absolute;
    top: 0;
    left: 0;
    opacity: .1;
    z-index: 5;
  }

}

.comments__block-img {
  display: inline-block;
  margin: 0 auto;
  border-radius: 50%;
}

.comments__main {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include laptop {
    flex-direction: row;
    justify-content: center;
  }

  .comments__block {
    width: 320px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    @include laptop {
      margin-right: 30px;
    }
  }
}


.wrapper__block-img {
  align-self: center;
  width: 50px;
  height: 50px;
  background: url("../img/avatar/Kov-Dm.jpg" alt="Kovalchuk");
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 10px;
}

.footer__avtor-fullName,
.footer__avtor-about {
  color: white;
  text-align: center;
  margin-bottom: 10px;
}

.container__feedback {
  background: rgba(218, 219, 214, .05);
  padding-top: 20px;
  margin: 0 auto;
  margin-bottom: 80px;
  max-width: 350px;
  .about__info-h2 {
    color: white;
    margin-bottom: 20px;
    &:after {
      background: white;
    }
  }
}

.feedback__info-text {
  padding: 0;
  padding-bottom: 20px;
  text-align: center;
}


.form__input,
.form__textarea {
  display: block;
  background: rgba(#fff, .07);
  border: none;
  margin: 0 auto;
  margin-bottom: 20px;
  color: white;
  width: 80%;
}

.form__input {
  padding: 13px 15px 13px 15px;
}

.form__textarea {
  padding: 15px;
  width: 80%;
  min-height: 140px;
}

.wrapper__button {
  display: flex;
  width: 100%;
}

.button__inner {
  flex: 1 0 50%;
  outline: none;
  border: none;
  color: white;
  padding: 15px 0;
  cursor: pointer;
}

.button__inner-ok {
  background: #004cd1;
}

.button__inner-cancel {
  background: none;
}

