 @import 'common/prop';


.wrapper__traingle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 85px;
  background: rgba(#000, .85);

  .box {
    bottom: 81px;
    .traingle {
      fill: rgba(#000, .85);
      }
  }
}

.bg-container__works:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 150px;
  border-left: 8px solid white;
  border-bottom: 8px solid white;
  display: block;
  width: 25px;
  height: 25px;
  z-index: 10;
  transform: translate(-50%) rotate(-45deg);
}


.container__slider {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}



.slider__preview {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 257px;
  background: #e3e2de;
}

.slider__img {
  display: block;
}

.slider__skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;

  .slider__skills-text {
    text-align: center;
    color: #243994;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  .slider__link-show {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 185px;
    height: 40px;
    color: white;
    background: #004cd1;
    text-decoration: none;
  }

}

.slider__nav {
  display: flex;
  justify-content: center;
}

.preview__wrapper {
  width: 320px;
  max-height: 257px;
}

.slider__nav-prev,
.slider__nav-next {
  width: 320px;
  min-height: 96px;
  position: relative;


  .preview__wrapper-nav {
    max-width: 160px;
    max-height: 90px;
    position: relative;

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(#b6b7bf, .5);
      z-index: 31;
      top: 0;
      left: 0;
    }

  }
}

.prev__slider-img,
.next__slider-img {
  flex: 0 2 50%;
  display: block;
  height: 50%;
}

.container__comments {
  background: url("/assets/img/bg/saturate-iphone.jpg");
  padding: 10px;
  padding-top: 0;
}

.comments__header-h2 {
  text-transform: uppercase;
  color: white;
  text-align: center;
}

.comments__block-text {
  color: white;
  margin-bottom: 20px;
}

.comments__block-img {
  display: inline-block;
  margin: 0 auto;
  border-radius: 50%;
}

.comments__main {
  display: flex;
  flex-direction: column;
  align-items: center;

  .comments__block {
    width: 320px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
}


.wrapper__block-img {
  align-self: center;
  width: 50px;
  height: 50px;
  background: url("/assets/img/avatar/Kov-Dm.jpg" alt="Kovalchuk");
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 10px;
}

.footer__avtor-fullName,
.footer__avtor-about {
  color: white;
  text-align: center;
  margin-bottom: 10px;
}

.container__feedback {
  background: rgba(218, 219, 214, .1);
  padding-top: 20px;
  margin-bottom: 80px;
  .about__info-h2 {
    color: white;
    margin-bottom: 20px;
    &:after {
      background: white;
    }
  }
}

.feedback__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__input,
.form__textarea {
  opacity: .4;
  margin-bottom: 20px;
  max-width: 260px;
}

.form__input {
  padding: 13px 15px 13px 15px;
}

.form__textarea {
  padding: 15px;
  min-height: 140px;
}

.wrapper__button {
  display: flex;
  width: 320px;
}

.button__inner {
  flex: 1 0 50%;
  outline: none;
  border: none;
  color: white;
  padding: 15px 0;
  cursor: pointer;
}

.button__inner-ok {
  background: #004cd1;
}

.button__inner-cancel {
  background: none;
}